@import "pages/variables";




.ad_320x50 {
  background-color: #F5F5F5;
  user-select: none;

  >div.content {
    width: 320px;
    height: 50px;
    //background-color: #ECECEC;
    //background: linear-gradient(90deg, #7028c0, #25b9e6);
    background: linear-gradient(90deg, #ff67e7, #35d0ff);
    position: relative;
    overflow: hidden;
    >label {
      color: #FFFFFF;
      position: absolute;
      font-family: "Staatliches", sans-serif;
      font-size: 32px;
      font-weight: bold;
      transform: rotate(-35deg);
      opacity: .25;

      $def_top: -20;
      $top: 5;
      $def_left: -90;
      $left: 38;
      &:nth-of-type(1) {
        top: #{$def_top + $top * 1}px;
        left: #{$def_left + $left * 1}px;
      }
      &:nth-of-type(2) {
        top: #{$def_top + $top * 2}px;
        left: #{$def_left + $left * 2}px;
      }
      &:nth-of-type(3) {
        top: #{$def_top + $top * 3}px;
        left: #{$def_left + $left * 3}px;
      }
      &:nth-of-type(4) {
        top: #{$def_top + $top * 4}px;
        left: #{$def_left + $left * 4}px;
      }
      &:nth-of-type(5) {
        top: #{$def_top + $top * 5}px;
        left: #{$def_left + $left * 5}px;
      }
      &:nth-of-type(6) {
        top: #{$def_top + $top * 6}px;
        left: #{$def_left + $left * 6}px;
      }
      &:nth-of-type(7) {
        top: #{$def_top + $top * 7}px;
        left: #{$def_left + $left * 7}px;
      }
      &:nth-of-type(8) {
        top: #{$def_top + $top * 8}px;
        left: #{$def_left + $left * 8}px;
      }
      &:nth-of-type(9) {
        top: #{$def_top + $top * 9}px;
        left: #{$def_left + $left * 9}px;
      }
      &:nth-of-type(10) {
        top: #{$def_top + $top * 10}px;
        left: #{$def_left + $left * 10}px;
      }
    }
  }
}



.ad_320x100 {
  background-color: #F5F5F5;
  user-select: none;

  >div.content {
    width: 320px;
    height: 100px;
    background-color: #ECECEC;
    position: relative;
    overflow: hidden;
    >label {
      color: #d5dce6;
      position: absolute;
      top: -52px;
      left: -26px;
      font-family: "Staatliches", sans-serif;
      font-size: 95px;
      font-weight: bold;
      transform: rotate(-35deg);
      &::after {
        content: "MIMANWEB";
        position: absolute;
        top: 96px;
        left: -40px;
      }
    }
  }
}


.ad_300x250 {
  padding: 2px;
  background-color: #F5F5F5;
  user-select: none;

  >div.content {
    width: 300px;
    height: 250px;
    background-color: #ECECEC;
    position: relative;
    overflow: hidden;
    >label {
      position: absolute;
      top: -49px;
      left: -33px;
      font-family: "Staatliches", sans-serif;
      font-size: 118px;
      font-weight: bold;
      transform: rotate(-35deg);
      &::after {
        content: "MIMANWEB";
        position: absolute;
        top: 116px;
        left: -165px;
      }
    }
  }
}


.ad_336x280 {
  padding: 2px;
  background-color: #F5F5F5;
  user-select: none;

  >div.content {
    width: 336px;
    height: 280px;
    background-color: #ECECEC;
    position: relative;
    overflow: hidden;
    >label {
      position: absolute;
      top: -83px;
      left: -69px;
      font-family: "Staatliches", sans-serif;
      font-size: 158px;
      font-weight: bold;
      transform: rotate(-35deg);
      &::after {
        content: "MIMANWEB";
        position: absolute;
        top: 149px;
        left: -250px;
      }
    }
  }
}


.ad_728x90 {
  padding: 2px;
  background-color: #F5F5F5;
  width: fit-content;
  margin: auto;
  user-select: none;

  >div.content {
    width: 728px;
    height: 90px;
    background-color: #ECECEC;
    position: relative;
    overflow: hidden;
    >span{
      font-family: "Staatliches", sans-serif;
      font-weight: bold;
      font-size: 30px;
      color: #9A9A9A;
      &:nth-child(2n) {
        color: #768ad5;
      }
      &:nth-child(3n) {
        color: #ff4b4b;
      }
    }
  }
}


.ad_160x600 {
  user-select: none;

  >div.content {
    width: 160px;
    height: 600px;
    background: linear-gradient(90deg, #7028c0, #25b9e6);
    overflow: hidden;
    position: relative;
    >span {
      font-family: "Yellowtail", serif;
      font-weight: bold;
      font-size: 60px;
      color: rgba(255, 255, 255, 0.92);
      position: absolute;
      transform: rotate(-35deg);
      &:nth-child(1) {
        top: 30px;
        left: 0;
      }
      &:nth-child(2) {
        top: 45px;
        left: 5px;
        color: rgba(255, 255, 255, 0.10);
      }
      &:nth-child(3) {
        top: 60px;
        left: 10px;
        color: rgba(255, 255, 255, 0.0);
      }
      &:nth-child(4) {
        top: 80px;
        left: 20px;
        font-size: 60px;
      }
      &:nth-child(5) {
        top: 95px;
        left: 25px;
        font-size: 60px;
        color: rgba(255, 255, 255, 0.10);
      }
      &:nth-child(6) {
        top: 110px;
        left: 30px;
        font-size: 60px;
        color: rgba(255, 255, 255, 0.0);
      }
      &:nth-child(7) {
        top: 140px;
        left: -33px;
        font-size: 75px;
      }
      &:nth-child(8) {
        top: 160px;
        left: -33px;
        font-size: 75px;
        color: rgba(255, 255, 255, 0.18);
      }
      &:nth-child(9) {
        top: 180px;
        left: -33px;
        font-size: 75px;
        color: rgba(255, 255, 255, 0.08);
      }
      &:nth-child(10) {
        top: 240px;
        left: -20px;
        font-size: 95px;
        text-decoration: underline;
      }
      &:nth-child(11) {
        top: 262px;
        left: -20px;
        font-size: 95px;
        color: rgba(255, 255, 255, 0.18);
        text-decoration: underline;
      }
      &:nth-child(12) {
        top: 291px;
        left: -20px;
        font-size: 90px;
        color: rgba(255, 255, 255, 0.08);
        text-decoration: underline;
      }
      &:nth-child(13) {
        top: 380px;
        left: -25px;
        font-size: 85px;
        text-decoration: underline;
      }
      &:nth-child(14) {
        top: 400px;
        left: -25px;
        font-size: 85px;
        color: rgba(255, 255, 255, 0.18);
        text-decoration: underline;
      }
      &:nth-child(15) {
        top: 420px;
        left: -25px;
        font-size: 85px;
        color: rgba(255, 255, 255, 0.08);
        text-decoration: underline;
      }
      &:nth-child(16) {
        top: 480px;
        left: 75px;
        font-size: 85px;
      }
      &:nth-child(17) {
        top: 500px;
        left: 85px;
        font-size: 85px;
        color: rgba(255, 255, 255, 0.18);
      }
      &:nth-child(18) {
        top: 520px;
        left: 95px;
        font-size: 85px;
        color: rgba(255, 255, 255, 0.08);
      }
    }
  }
}


.ad_300x600 {
  user-select: none;

  >div.content {
    font-family: "Staatliches", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.75);
    //color: white;
    width: 300px;
    height: 600px;
    background: linear-gradient(90deg,#c02d28,#e66225);

  }
}
