@import "pages/variables";


.container {
  width: 100%;
}


.container >form.login {
  padding: 15px;
  width: fit-content;
  margin: 30px auto auto auto;
}


// LOGIN SECTION
.container >form.login {
  >section.info {
    >h1 {
      text-align: center;
      font-size: 38px;
      color: #435e87;
      margin-bottom: 30px;
      font-weight: 300;

    }

    >input[type="text"], >input[type="password"] {
      display: block;
      width: 300px;
      height: 42px;
      border-radius: 2px;
      border: 1px solid #D5D5D5;
      margin: 6px 0;
    }
  }

  >section.menu {
    margin-top: 12px;

    >button.login {
      width: 100%;
      height: 42px;
      background-color: #435e87;
      border: 1px solid #435e87;
      color: #F5F5F5;
      user-select: none;
      font-size: 14px;

      &:active {
        background-color: #5e708d;
        border: 1px solid #5e708d;
      }
    }

    >div.stay_logged_in {
      width: fit-content;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      margin-top: 12px;
      user-select: none;
      font-weight: 300;

      $checkbox_size: 20;
      >div.checkbox {
        width: #{$checkbox_size}px;
        height: #{$checkbox_size}px;
        background-image: $icon_small_checkbox_checked;
        background-size: cover;
      }
      >div.checkbox_blank {
        width: #{$checkbox_size}px;
        height: #{$checkbox_size}px;
        background-image: $icon_small_checkbox_blank;
        background-size: cover;
      }
      >label {
        margin-left: 1px;
        //color: #9A9A9A;
        position: relative;
        cursor: pointer;
      }
      &:hover {
        >label { color: $base-color }
      }
    }
  }
}


// FIND USER INFO, SIGN UP
.container >section.find_user_register {
  width: 300px;
  margin: 15px auto auto auto;
  padding: 15px 0;
  border-top: 1px solid #D5D5D5;

  >a {
    margin: 12px 0;
    width: fit-content;
    display: flex;
    color: #9a9a9a;
    font-weight: 300;
    align-content: center;
    >div.icon {
      $size: 18;
      width: #{$size}px;
      height: #{$size}px;
      background-size: cover;
      margin: auto;
    }

    &:active {
      filter: brightness(.3);
    }
  }
  >a.register >div.icon {
    background-image: $icon_account_gray;
    margin-right: 1px;
  }
}