@import "pages/variables";


.container {
  margin-left: $panel-margin;
  width: $right-sidebar-width;
  min-width: $right-sidebar-width;
}


.container >section.top {
  background-color: #FFFFFF;
  padding: 10px 10px 0 10px;
  min-height: 295px;
  border-left: 2px solid #d8dadc;
  border-right: 2px solid #d8dadc;
}


.container >section.middle {
  top: 15px;
  position: sticky;
  background-color: #FFFFFF;
}
.container >section.middle.no_sticky {
  position: initial;
}