@import "pages/variables";


.container {
  min-height: 140px;
  background-color: #ffffff;
  position: relative;

  input {
    width: 152px;
  }
}


.container >section.user_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;

  >label.nickname {

  }
  >label.setting {
    font-size: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    >div.icon {
      width: 15px;
      height: 15px;
      background-image: $icon_setting_gray;
      background-size: cover;
      display: inline-block;
      filter: brightness(1.2);
    }
    >label {
      color: #9A9A9A;
      cursor: pointer;
    }
    &:hover {
      >label { color: $base-color }
      >div.icon { filter: brightness(30%) }
    }
  }
}



// MENU SECTION
// NOTIFICATION, MAIL, MYPOST
.container >section.noti_mail_mypost {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  min-height: 40px;
  border-bottom: 1px dashed #E1E1E1;

  >div {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;

    $icon_size: 20;

    >div.icon {
      position: relative;
      width: #{$icon_size}px;
      height: #{$icon_size}px;
      background-size: cover;
      display: inline-block;
      cursor: pointer;
      filter: brightness(1.3);

      &:hover {
        filter: brightness(.3);
      }
    }

    // NEW ITEM INDICATOR
    >div.new_item_indicator {
      $size: 12;
      position: absolute;
      width: #{$size}px;
      height: #{$size}px;
      background-color: #ff4b4b;
      top: calc(50% - #{$icon_size/1.5}px);
      right: calc(50% - #{$icon_size/1.5}px);
      border-radius: 50%;
      transform: scale(.5);
    }
  }
  >div.notification {
    >div.icon {
      background-image: $icon_notification_gray;
      position: relative;
    }
  }
  >div.mail {
    >div.icon {
      background-image: $icon_mail_gray;
    }
  }
  >div.post {
    >div.icon {
      background-image: $icon_article_gray;
    }
  }
}


.container >section.noti_mail_mypost_message {
  $width: 320;

  //display: none;
  position: relative;
  width: #{$width}px;
  height: 0;
  background-color: #262626;
  right: calc(#{$width}px - #{$right-sidebar-width} + 20px);
  border-radius: 2px;
  overflow: hidden;
  //padding: 0;
  transition: height .32s;
}
.container >section.noti_mail_mypost_message.enabled {
  //display: block;
  height: 330px;
  transition: height .32s;
}


.container >section.bookmark_logout {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  >div.bookmarks {
    display: flex;
    align-items: center;
    cursor: pointer;
    >div.icon {
      width: 15px;
      height: 15px;
      background-image: $icon_bookmarks_gray;
      background-size: cover;
      filter: brightness(130%);
    }
    >label {
      margin-left: 1px;
      color: #9A9A9A;
      cursor: pointer;
      font-size: 10px;
    }
    &:hover {
      >div.icon {
        filter: brightness(30%);
      }
      >label {
        color: $base-color;
      }
    }
  }
}