@import "pages/variables.scss";


.container {
  background-color: #5c78a3;
}




.container >section.category_board_tab {
  padding: 4px 0 0 0;
  display: flex;
  overflow: scroll;

  @mixin tab_animation {
    $duration: .3s;
    transition: all .3s, background-color 0s, width 0s;
  }

  >div.tab {
    padding: 6px 0;
    display: flex;
    flex-direction: column;
    align-self: stretch;

    // CATEGORY ITEM
    >section.category {
      height: 30px;
      min-height: 12px;

      >div.item {
        padding: 0 8px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        font-weight: 300;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        line-height: 12px;
        text-align: center;
        white-space: nowrap;
        @include tab_animation;
      }
    }

    // BOARD ITEM
    >section.board {
      min-width: 120px;
      width: 100%;
      height: 100%;
      //margin: 18px 0 12px 0;
      opacity: 1;
      border-right: 1px dashed rgb(92 120 163 / 12%);
      overflow: hidden;
      background-color: #ececec;
      border-top: 3px solid #ececec;
      border-bottom: 3px solid #ececec;
      @include tab_animation;

      >a.item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 12px;
        height: 38px;
        font-size: 16px;
        white-space: nowrap;
        color: #23334a;
        @include tab_animation;
      }
    }

    &:last-of-type, &:nth-last-child(2) {
      >section.category {
        >div.item {
          border-right: none;
        }
      }
      >section.board {
        border-right: none;
      }
    }
  }

  >div.tab.blank {
    width: 100%;
    >section.category {
      border: none;
      >div.item {
        padding: 0;
      }
    }
    >section.board {
      min-width: 0;
      width: 100%;
      margin: 0;
      border: none;
    }
  }

  // TAB CLOSED
  >div.tab.closed {
    >section.category {
      height: auto;
      >div.item {
        color: rgba(255, 255, 255, 0.5);
        font-size: 15px;
        @include tab_animation;
      }
    }
    >section.board {
      min-width: 0;
      width: 0;
      margin: 0 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      border: none;
      @include tab_animation;

      >a.item {
        padding: 0 0;
        height: 0;
        @include tab_animation;
      }
    }
  }
}


.container >section.toggle_button {
  display: flex;

  $default_padding: 8;
  $wide_padding: 26;
  $edge_margin: 10;
  >div.arrow {
    touch-action: none;
    &:first-of-type {
      margin: auto auto auto 0;
      padding: #{$default_padding}px #{$wide_padding}px #{$default_padding}px #{$default_padding + $edge_margin}px;
    }
    &:nth-of-type(2) {
      margin: auto auto auto auto;
      padding: #{$default_padding}px #{$wide_padding}px;
    }
    &:last-of-type {
      margin: auto 0 auto auto;
      padding: #{$default_padding}px #{$default_padding + $edge_margin}px #{$default_padding}px #{$wide_padding}px;
    }

    >div {
      width: 38px;
      height: 4px;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 1em;
    }
  }
}