@import "pages/variables";


.container {
  >div:nth-of-type(1) {
    display: flex;
    margin-bottom: 4px;
    >span {
      font-size: 16px;
      margin-right: 4px;
    }
  }
  >input[type="text"] {
    font-size: 16px;
    min-width: 300px;
    height: 30px;
  }
}
.container.disabled {
  >input[type="text"] {
    color: rgba(38, 38, 38, 0.12);
  }
}

