@import "pages/variables";


.wrapper {
  width: 100%;
  padding: 15px;
  background-color: white;

  h3 {
    display: inline;
    width: fit-content;
    margin-right: 5px;
  }

  strong {
    color: #ff4b4b;
  }

  mark {
    color: #ff4b4b;
    background-color: #e1e1e1;
    margin: 0 1px;
    padding: 0 5px;
    border-radius: 4px;
  }

  small {
    font-weight: 200;
    color: #aeaeae;
  }

  input {
    font-family: "Noto Sans KR", sans-serif;
    margin: 5px 10px 5px 0;
    border: 1px solid #e1e1e1;
    outline: none;
    height: 42px;
    letter-spacing: 1px;
    padding-left: 4px;
    width: 300px;
  }

  input[type="submit"] {
    //height: 30px;
    width: fit-content;
    @include button-style;
  }

  form {
    margin: 10px 0;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    >div {
      padding: 15px;
      >div {
        margin: 15px 0;
      }
    }
  }
}