@import "pages/variables";

$form_color: #fbf2c5;

.container {
  background-color: #{$form_color};
  box-shadow: 0 0 .5px .5px #{$form_color}, 0 0 .5px .5px inset #{$form_color};
  padding: 8px;
  position: relative;

  textarea {
    background-color: transparent;
    border: none;
    overflow-y: hidden;
    resize: none;
    width: 100%;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    &:hover {
      box-shadow: 0 0 .5px .5px black;
    }
  }
}


$priority_color: #306642;

.container >div.main {
  min-width: 400px;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  border: 2px solid #{$priority_color};
  box-shadow: 0 0 .5px .5px #{$priority_color}, 0 0 .5px .5px inset #{$priority_color};
  padding: 5px 30px;
  font-weight: 300;
  font-family: "Noto Serif KR", serif;

  >section {
    color: #{$priority_color};
    text-shadow: 0 0 .5px #{$priority_color};
  }



  // DOC TITLE SECTION
  >section.doc_title, >section.reg_comics_note {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;

    >p {
      color: #{$priority_color};
      text-shadow: 0 0 .5px #{$priority_color};
    }
    >p.com_logo {
      font-family: "Staatliches", sans-serif;
      font-size: 40px;
      font-weight: 400;
    }
    >p.form_title {
      font-size: 20px;
      line-height: 20px;
    }
    >p.form_sub_title {
      font-size: 11px;
    }
  }


  // NOTE FOR THIS DOC
  >section.reg_comics_note {
    width: 260px;
    margin: 0 auto 45px auto;
    >p {
      text-align: center;
      margin-bottom: 8px;
      word-break: keep-all;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }



  // FORM CONTENT SECTION
  $item_background_color: #d9dab1;
  >section.reg_comics_info {
    font-weight: 300;

    >div.item_desc {
      box-shadow: 0 0 .5px .5px #{$item_background_color}, 0 0 .5px .5px inset #{$item_background_color};
      background-color: #{$item_background_color};
      font-size: 11px;
      line-height: 12px;
      font-style: italic;
    }
    >div.item_desc_example {
      font-size: 10px;
      margin: 4px 8px;
    }
    >section.input {
      margin: 4px 0;
    }
  }



  // REGISTRATION SUCCESS RESULT
  >section.reg_success_msg {
    width: 260px;
    display: flex;
    flex-direction: column;
    margin: 30px auto 45px auto;

    >p {
      text-align: center;
    }

    >p.comics_kor_title {
      font-weight: 700;
      font-size: 24px;
    }
    >p.comics_origin_title {
      font-size: 16px;
      margin-bottom: 60px;
    }
    >p.guide {
      font-size: 16px;
    }
  }



  // REGISTER BUTTON
  >section.buttons {
    margin: auto 0 15px 0;
    display: flex;
    user-select: none;

    >div.register_button {
      margin: 0 0 0 auto;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      &:active {
        text-shadow: 0 0 5px #262626;
      }
    }
  }
}