@import "pages/variables";


.box {
  width: 100%;
  height: 536px;
  background-color: #262626;
  box-shadow: 0 0 0.5px 0.5px #262626, 0 0 0.5px 0.5px inset #262626;
  border-radius: 2px;
  border-top: 6px solid #212121;
  border-right: 8px solid #353535;
  border-bottom: 10px solid #424242;
  border-left: 8px solid #353535;
  padding: 4px 12px;
}


.container {
  height: 100%;

  >div {
    color: lawngreen;
    font-size: 14px;
    font-weight: 300;
  }
  >div:first-of-type {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  >div:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

}



// COMICS SERIES LIST
.container >div.list {
  height: calc(100% - 160px);
  overflow-y: auto;

  ul {
    list-style: decimal;
    padding-left: 22px;
    margin: 0;
    li {
      border-bottom: 1px solid #7cfc002e;
      padding: 4px 0 8px 0;
    }
  }
}


// SEARCH MESSAGE
.container >div.message {
  height: 30px;
  margin: 0 0 0 auto;
}


// SEARCH MENU
.container >div.menu {
  height: 130px;
  border-top: 2px solid #59bb00;

  >p.site_logo {
    font-family: "Staatliches", sans-serif;
    font-size: 18px;
    margin-right: 8px;
    font-weight: 400;
    margin-bottom: 12px;
  }
  >div {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    >input[type="text"] {
      background-color: transparent;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #59bb00;
      width: 200px;
      margin-right: 4px;
      color: lawngreen;
    }
    >p {
      cursor: pointer;
      user-select: none;
      &:hover {
        color: #59bb00;
      }
      &:active {
        color: #448e00;
      }
    }
  }
}