@import "pages/variables";

.container {
  background-color: #ffffff;
  width: $main-panel-width;
  //margin-right: 140px;
  border-right: 2px solid #d8dadc;
  border-left: 2px solid #d8dadc;
  padding: 15px 30px;
}



$title_height: 42;
$title_margin_top: 5;
$title_margin_bottom: 66;

.container >section:nth-of-type(1) {
  >div.title {
    width: fit-content;
    margin-top: #{$title_margin_top}px;
    margin-bottom: #{$title_margin_bottom}px;
    >a>h1 {
      cursor: pointer;
      font-size: 42px;
      font-weight: 700;
      line-height: #{$title_height}px;
      height: #{$title_height}px;
      color: #303030;
      &:active {
        color: #555555;
      }
    }
  }
}