@import "pages/variables";


$nav_bar_height: 45px;


.container {
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;
  min-width: $website_min-height;
  height: $nav_bar_height;
  background-color: #435e87;
  //border-bottom: 3px solid #d8dadc;
  z-index: 2;
  user-select: none;
}


// SITE LOGO
.container >section.logo {
  height: 100%;
  margin: auto auto auto 0;

  >div.icon {
    display: inline-block;
    width: fit-content;
    height: 100%;
    padding-left: 6px;
    cursor: pointer;

    >a {
      font-family: "Staatliches", sans-serif;
      font-size: 36px;
      line-height: $nav_bar_height;
      font-weight: bold;
      color: #F5F5F5;
      display: inline;

      &:active {
        color: #d9d9d9;
      }
    }
  }
}


// INFO
.container >section.info {
  margin: auto 0 auto auto;

  >div.login_panel {
    margin-right: 14px;
    >a {
      color: white;
    }
  }

  >div.user_info {
    position: relative;
    display: flex;
    align-content: center;
    margin-right: 7px;

    >div {
      position: relative;

      $icon_size: 21;
      >a {
        padding: 8px 9px;
        height: 100%;
        display: block;
        >div.icon {
          width: #{$icon_size}px;
          height: #{$icon_size}px;
          background-size: cover;
          filter: brightness(10) opacity(.4);
        }
      }
      >a.notification {
        >div.icon {
          background-image: $icon_notification_gray;
        }
      }
      >a.user_info {
        >div.icon {
          background-image: $icon_account_gray;
        }
      }
    }

    >section.divider {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      >i {
        margin: auto;
        height: 12px;
        border-right: 1px solid white;
        filter: opacity(.35);
      }
    }
  }
}