.container {
  width: 100%;
  margin-bottom: 4px;

  >textarea {
    display: block;
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #D5D5D5;
    overflow-y: hidden;
    resize: none;
    font-size: 11px;
    font-family: "Noto Sans KR", sans-serif;
    &:hover {
      box-shadow: 0 0 0 1px #768ad5 inset;
    }
  }
}