@import "pages/variables";


.container {
  width: fit-content;
  border: 1px solid #D5D5D5;
  padding: 8px;
  border-radius: 2px;
  background-color: #ECECEC;
}



$textarea_width: 722;
$textarea_narrow_width: 690;
$submit_button_width: 70;




// MENUS SECTION
.container >section.menus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2px;


  >section.buttons {
    display: flex;
    align-items: center;


    >div.unregistered-user-info {
      >input[type="text"], >input[type="password"] {
        border: 1px solid #D5D5D5;
        border-radius: 2px;
        background-color: #F5F5F5;
        width: 110px;
        font-size: 12px;
        height: 22px;
        padding: 3px 2px;
        &::placeholder {
          color: #9A9A9A;
        }
      }
      >input.nickname {
        margin-right: 2px;
      }
      >input.password {

      }
    }

    >button {
      background-color: #ECECEC;
      font-family: "Noto Sans KR", sans-serif;
      border: none;
      margin: 2px;
      color: #9A9A9A;
      cursor: pointer;
      font-size: 12px;
      padding: 2px 8px;
      outline: none;
      &:hover {
        background-color: #e1e1e1;
        >span {
          color: #262626;
        }
      }
      &:active {
        background-color: #cbcbcb;
        >span {
          color: #262626;
        }
      }
    }
    >button.image-upload {
      display: flex;
      align-items: center;
      >div.icon {
        width: 15px;
        height: 15px;
        background-image: $icon_image_lightgray;
        background-size: cover;
        display: inline-block;
        font-size: 12px;
        margin-right: 2px;
      }
      &:hover {
        >div.icon {
          filter: brightness(.7);
        }
      }
      >input[type="file"] {
        display: none;
      }
    }
    >button.youtube-link {
      &:hover {
        >span {
          color: #ff0000;
        }
      }
    }
  }

  >section.youtube-link-input {
    width: 100%;
  }
  >section.youtube-link-input.hide {
    display: none;
  }

}


// WRITER SECTION
.container >section.editor {
  display: flex;

  >div.content {
    >div.media {
      display: block;
      margin-bottom: 8px;
      max-width: #{$textarea_width}px;
      >img {
        border-radius: 2px;
        max-width: 100%;
      }
      >iframe {
        border-radius: 2px;
        max-width: 100%;
      }
    }
    >div.media.hide {
      display: none;
    }

    >p.error-message {
      margin-bottom: 8px;
      @keyframes open {
        from {
          color: transparent;
        }
        to {
          color: red;
        }
      }

      animation: open .2s forwards;
    }

    >textarea {
      display: block;
      border: 1px solid #D5D5D5;
      width: #{$textarea_width}px;
      resize: none;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 13px;
      height: auto;
      overflow-y: hidden;
      &::placeholder {
        color: #9A9A9A;
      }
    }
  }
  >div.content.narrow {
    >div.media {
      max-width: #{$textarea_narrow_width}px;
    }
    >textarea {
      width: #{$textarea_narrow_width}px;
    }
  }

  >button.submit {
    width: #{$submit_button_width}px;
    border: 1px solid #5b7be3;
    background-color: #5b7be3;
    font-family: "Noto Sans KR", sans-serif;
    margin-left: 4px;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    &:hover {
      background-color: #4c66bb;
    }
    &:active {
      background-color: #40559a;
    }
  }

}