@import "pages/variables";


.container {
  display: flex;
  align-items: center;
  padding: 4px 2px;
  width: 100%;
  border-bottom: 1px dashed #334765;

  &:last-of-type {
    border-bottom: none;
  }

  &:hover {
    background-color: #253449;
  }


  $time_section_width: 35;

  // Notification content
  >div.content {
    max-width: calc(100% - #{$time_section_width}px);
    display: flex;
    align-content: center;
    overflow: hidden;
    white-space: nowrap;

    // TYPE ICON
    >label {
      margin-right: 4px;
      padding: 0 2px;
      display: flex;
      align-content: center;
      >div.icon {
        $size: 11;

        margin: auto 1px auto auto;
        width: #{$size}px;
        height: #{$size}px;
        background-size: cover;
      }
      >div.icon.post_comment {
        background-image: $icon_comment_blue;
      }
      >div.icon.replied_comment {
        background-image: $icon_keyboard_return_blue;
        transform: rotateY(180deg);
      }

      // TEXT
      >span {
        display: inline-block;
        font-size: 10px;
        color: #6d98db;
        font-weight: 300;
      }
    }
    >a {
      font-size: 11px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #d5d5d5;
      font-weight: 300;
      cursor: pointer;

      &:hover {
        color: #F5F5F5;
      }
      &:active {
        color: #ea5a3e;
      }
    }
  }

  // Notification created time
  >p.time {
    width: #{$time_section_width}px;
    margin: auto 0 auto auto;
    text-align: center;
    color: #9A9A9A;
    font-weight: 300;
    font-size: 11px;
    cursor: default;
  }
}


.container.checked {
  filter: brightness(.8);

  >div.content {
    >a {
      color: #9A9A9A;
    }
  }
}