@import "pages/variables";


.container {
  background-color: #ffffff;
}



.container >section.hot_post_list {
  margin-bottom: 20px;
}




// TAB SECTION
.container >section.tab {
  $primary_color: #2971c3;
  $border_color: #eaeff5;


  //border-top: 1px solid $border_color;
  border-bottom: 1px solid $border_color;

  >a {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    height: 36px;
    font-size: 14px;
    font-weight: 700;
    padding: 0 16px;
    color: #9a9a9a;

    &:not(&:first-of-type):not(&.fill):not(&.fill+a) {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        height: 10px;
        border-left: 1px solid $border_color;
      }
    }
  }
  >a.fill {
    //color: #F5F5F5;
    background-color: #eaeff5;
    color: $primary_color;

  }
}



// POST LIST SECTION
.container >section.list {
  >section:nth-of-type(1), >section:nth-of-type(2) {
    width: 100%;
  }


  >section >article.post.highlight {
    background-color: #e7ecff;

    &::after {
      content: "";
      background-color: #859bea;
      position: absolute;
      left: -2px;
      width: 2px;
      height: 100%;
    }
  }


  // NOTICE POST LIST SECTION
  >section.notice_list {
  }


  // POST LIST SECTION
  >section.post_list {
    min-height: 180px;
  }


  >section.post_list >div.empty_board_message {
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    >span {
      user-select: none;
      color: #9a9a9a;
      font-size: 14px;
      font-family: "Noto Serif KR", serif;
    }
  }


  >div.gap {
    width: 100%;
    height: 6px;
    background-color: #eaeff5;
  }
}



// PAGE NAVIGATION, POST WRITING BUTTON SECTION
.container >section.page_nav_post_write_button {
  display: flex;
  align-items: center;
  >div:first-of-type {
    margin: auto;
  }
  >button {
    margin: 0 2px;
  }
}