@import "pages/variables";


$panel_padding: 15px;


.container {
  width: 100%;

  >section {
    background-color: $base_panel_color;
  }
}



.container >section.ad {
  padding: 6px 0;
  display: flex;
  justify-content: center;
}


.container >section.site_map_nav {

}


.container >section.board_title {
  padding: 20px $panel_padding;

  >a >h1 {
    font-size: 26px;
  }
}


.container >section.board_content {
}