@import "pages/variables";



.container {
  width: $main-panel-width;
  
}


.container >section.book_info {
  padding: 30px;
  background-color: #FFFFFF;
  border-right: 2px solid #d8dadc;
  border-left: 2px solid #d8dadc;


  >section.page_title {
    margin-bottom: 50px;
    border-bottom: 1px solid #DCDCDC;
    >p {
      color: #DCDCDC;
      font-size: 18px;
    }
  }

  >section.comics_title {
    margin-bottom: 60px;
    >p:nth-of-type(1) {
      font-size: 28px;
      font-weight: 700;
    }
    >p:nth-of-type(2) {
      font-size: 18px;
      color: #9A9A9A;
      font-weight: 400;
    }
  }


  >section.edition_title {
    margin-bottom: 50px;
  }



  >section.episode_type {
    margin-bottom: 50px;
  }


  >section.episodes {
    margin-bottom: 50px;
  }


  >section.content_type {
    //border-left: 1px solid #d8dadc;
    //border-right: 1px solid #d8dadc;
    //border-top: 3px solid #435e87;
    //padding-top: 8px;
  }


  >section.content {
    //border-left: 1px solid #d8dadc;
    //border-right: 1px solid #d8dadc;
    padding: 30px;
    margin-bottom: 50px;
  }

}




.container >section.translator_review {
  padding: 0 30px 30px 30px;
  background-color: #FFFFFF;
  border-right: 2px solid #d8dadc;
  border-left: 2px solid #d8dadc;

  >section.title {
    width: 100%;
    height: 30px;
    color: #F5F5F5;
    display: flex;
    background-color: #435e87;
    align-items: center;
    padding: 0 8px;
    border-bottom: 3px solid #344867;
    user-select: none;
    font-size: 14px;
  }
  >section.editor {
  }
}



.container >section.submit_buttons {
  padding: 0 30px 30px 30px;
  background-color: #FFFFFF;
  border-right: 2px solid #d8dadc;
  border-left: 2px solid #d8dadc;
  >section:nth-of-type(1) {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
    >button {
      margin: 0 2px;
    }
  }
}