@import "pages/variables";

.container {
  color: #d7d7d7;
  background-color: transparent;
  position: relative;
  width: 100%;
  min-width: $website_min-height;
  font-size: 10px;
  font-weight: 300;
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}