@import "pages/variables";


.wrapper {
  width: $main-panel-width;
  padding: 30px;
  background-color: #ffffff;


  input[type="password"], input[type="text"] {
    width: 220px;
    margin: 0 5px;
  }

  input[type="submit"] {
    @include button-style;
  }


  blockquote {
    width: fit-content;
    margin: 0;
    padding: 15px;
    color: #5c5c5c;
    font-weight: 200;
    background: #eee;
    border-radius: 4px;
  }

  form {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    margin: 15px 0;
    padding: 15px;

    h3 {
      width: fit-content;
      border-bottom: 1px solid #e1e1e1;
    }
  }
}