.container {
  font-size: 12px;
  height: 30px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  background-color: #262626;
  color: lawngreen;
  justify-content: flex-end;
}

.container >button.confirm {
  background-color: transparent;
  border: none;
  color: lawngreen;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  &:hover {
    color: #60c201;
  }
  &:active {
    color: #4c9901;
  }
}