@import "pages/variables";



.container {
  display: flex;
  justify-content: center;
  min-height: 640px;
  margin: auto;
}


.container >section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  border-radius: 2px;

  >h1 {
    font-size: 200px;
    line-height: 160px;
    font-family: "Staatliches", sans-serif;
    margin-bottom: 50px;
    user-select: none;
    cursor: default;
  }

  >p {
    color: #4b4b4b;
    font-size: 14px;
    margin-bottom: 50px;
    user-select: none;
    cursor: default;
  }

  >section.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    >* {
      margin: 0 2px;
    }
    >a.to_home_button {

    }
  }
}