@import "variables";
@import "fonts";


*, *::before, *::after {
  box-sizing: border-box;
}


html, body {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: $base-color;
  background-color: $base-background-color;
  text-rendering: auto;
}


h1, h2, h3, h4, p, span {
  margin: 0;
}

a:link { color: $base-color; text-decoration: none;}
a:visited { color: $base-color; text-decoration: none;}
a:hover { color: $base-color; text-decoration: none;}


input[type="password"], input[type="text"], input[type="email"] {
  font-family: "Noto Sans KR", sans-serif;
  padding-left: 8px;
  border: 1px solid #eaeaea;
  outline: none;
  height: 24px;
}

blockquote {
  width: fit-content;
  margin: 0;
  padding: 15px;
  color: #5c5c5c;
  font-weight: 200;
  background: #eee;
  border-radius: 4px;
}


kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
  padding: 2px 4px;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    background-color: #d5d5d5;
  }
  &:active {
    color: #f5f5f5;
    background-color: #262626;
  }
}