@import "variables";


$panel-padding: 20px;
$left-panels-width: 460px;
$right-panels-width: 400px;


.container {
  width: 100%;
}


.container >section.notification {
  display: flex;
  align-content: center;
  padding: 0 5px;
  height: 28px;
  width: 100%;
  background-color: #FFFFFF;
}


.container >section.ad {
  padding-bottom: 6px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  background-color: #FFFFFF;
}


.container >section.site_nav {
  //padding: 0 5px;
  //background-color: #5c78a3;
}


.container >section.best_mix {

}

.container >section.post_list {
  background-color: #FFFFFF;
  padding: 0 15px;

  >div.post_title {
    height: 46px;
    display: flex;
    align-content: center;
    border-bottom: 1px solid #d6d6d6;

    >p {
      position: relative;
      color: #6c88b3;
      margin: auto 0;
      height: fit-content;
      font-weight: 700;
      font-size: 18px;

      >span {
        position: relative;
        bottom: -2px;
        font-family: "Staatliches", sans-serif;
        font-size: 24px;
        font-weight: 400;
      }
    }
  }
}


.container >section.comics {
  height: 220px;
  padding: 10px 0;
  display: flex;
  overflow: scroll;
  background-color: #FFFFFF;

  @media screen and (min-width: $tablet_width) {
    height: 240px;
  }
  @media screen and (min-width: $wider_tablet_width) and (min-height: $wider_tablet_width) {
    height: 280px;
  }

  >div {
    min-width: 160px;
  }
}


.container >section.best_humor {

}

.container >section.freeboard {

}