@import "./colors";
@import "./icons";


// Base
$base-background-color: #ECECEC;
//$base-color: #2c2c2c;
$base-color: #262626;

$website_min-height: 320px;
$base_panel_color: #FFFFFF;

// Component sizes
$left-sidebar-width: 140px;
$right-sidebar-width: 180px;
$main-panel-width: 990px;
$panel-margin: 15px;
$doc-margin: 30px;
$doc-width: #{$right-sidebar-width + $left-sidebar-width + $main-panel-width + $panel-margin*2};

$tablet_width: 768px;
$wider_tablet_width: 1024px;



@mixin post_article_style {
  font-size: 14px;
  >p {
    margin-bottom: 5px;
    >img {
      max-width: 100%;
      min-width: 80px;
      min-height: 20px;
      cursor: pointer;
    }
    >a {
      color: #2196f3;
      text-decoration: underline;
      cursor: pointer;
      font-style: italic;
      font-size: 20px;
      font-weight: 700;
      &:hover {
        color: #1c79c4;
      }
      &:visited {
        color: #2196f3;
        &:hover {
          color: #1c79c4;
        }
      }
    }
  }
}


@mixin default_post_style {

  .container {
    background-color: #ffffff;
    width: 990px;
    //margin-right: 140px;
    border-left: 2px solid #d8dadc;
    border-right: 2px solid #d8dadc;
  }

  .container >section.post {
    padding: 30px 30px 20px 30px;
  }

  .container >section.comment {
    padding: 5px 30px 30px 30px;
  }

  .container >section.ad {
    padding: 30px 0 15px 0;
  }

  .container >section.ad_bottom {
    padding: 5px 30px 30px 30px;
  }

}


@mixin panel-border-style {
  //box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
  //border-radius: 2px;
}

@mixin button-style {
  display: flex;
  align-items: center;
  border-radius: 2px;
  background-color: #3b5cd4;
  border: none;
  color: white;
  padding: 4px 10px;
  position: relative;
  font-size: 12px;
  //font-weight: 400;
  cursor: pointer;
  outline: none;
}

