@import "pages/variables";



.post_list {
  padding: 4px 0;

  >article {
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;

    &:hover {
      background-color: #f6f6f6;
      >div.content >a.post_title {
        color: #435e87;
      }
    }

    >a.category_icon {
      display: block;
      text-align: center;
      width: 46px;
      height: fit-content;
      background-color: #e5ecf8;
      color: #7587a5;
      border-radius: 2px;
      padding: 1px 0;
      font-size: 11px;
      font-weight: 300;
      margin-right: 6px;
      font-stretch: extra-condensed;
    }

    >div.content {
      font-size: 14px;
      display: flex;
      align-items: center;

      >a.post_title {
        font-size: 15px;
        display: inline-block;
        max-width: calc(100% - 26px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:active {
          color: #ea5a3e;
        }
      }
      >a.comment_count {
        margin: auto auto auto 6px;
        display: inline-block;
        color: #ff4b4b;
        font-size: 13px;
        height: fit-content;
      }
    }

    >div.content.width_type1 {
      width: calc(100% - 52px);
    }
    >div.content.width_type2 {
      width: 100%;
    }
  }

  >div.empty {
    display: flex;
    align-items: center;
    width: 100%;
    color: #D5D5D5;
  }
}