@import "pages/variables";


$color: #9daec8;
$time_div_width: 40;
$icon_width: 32;


.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  opacity: 1;

  >a {
    margin: auto;
    display: flex;
    height: fit-content;
    max-width: 100%;

    >div.content {
      height: fit-content;
      margin: auto auto auto 0;
      display: flex;
      align-items: center;
      max-width: 100%;

      >label {
        //$primary_color: #7587a5;
        $primary_color: #9eb4db;
        $background_color: #e5ecf8;

        cursor: pointer;
        //filter: opacity(.65);
        min-width: #{$icon_width}px;
        width: #{$icon_width}px;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        font-weight: 300;
        color: #{$primary_color};
        //border: 1px solid #{$primary_color};
        border-radius: 2px;
        background-color: #{$background_color};
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      >div.title {
        width: fit-content;
        max-width: calc(100% - #{$time_div_width + $icon_width}px);
        display: block;
        color: #{$color};
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 300;
      }
      >div.time {
        //margin: auto auto auto 0;
        color: #{$color};
        font-weight: 300;
        text-align: center;
        font-size: 13px;
        filter: opacity(.8);
        min-width: #{$time_div_width}px;
        width: #{$time_div_width}px;
      }
    }
  }
}