@import "pages/variables";


.container {
  position: relative;
  width: $main-panel-width;

  //min-height: 3000px;

}




.container >section.comics_info {
  background-color: #FFFFFF;
  border-left: 2px solid #d8dadc;
  border-right: 2px solid #d8dadc;
  padding: 15px 30px 20px 30px;

  >div.title {
    font-size: 36px;
    font-weight: 700;
  }
  >div.origin_title {
    font-size: 28px;
    color: #9A9A9A;
    border-bottom: 1px solid #D5D5D5;
  }
  >div.title, >div.origin_title {
    >a {
      &:active {
        opacity: .8;
      }
    }
  }
  >div.sub_title_volume_issue {
    font-size: 20px;
    >p.sub_title {
      color: #9A9A9A;
      font-weight: 700;
      margin-right: 8px;
    }
    >p.volume_issue {
      color: #ff4b4b;
    }
  }

}



.container >section.comics_cover {
  background-color: #FFFFFF;
  border-left: 2px solid #d8dadc;
  border-right: 2px solid #d8dadc;
  line-height: 0;

  >div.image_comic_book {
    min-height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    >img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  >div.link_comic_book {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    position: relative;

    >a.link_url {
      position: absolute;
      top: 0;
      left: 30px;
      margin-bottom: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #c8dcec;
      border: 1px solid #a6c6e1;
      padding: 2px 8px;
      border-radius: 4px;
      cursor: pointer;
      >div.icon {
        $size: 18;
        width: #{$size}px;
        height: #{$size}px;
        background-image: $icon_link;
        background-size: cover;
        filter: brightness(.5);
        margin-right: 8px;
      }
      >p {
        font-size: 12px;
        color: #8995c1;
        line-height: normal;
      }
    }

    >section {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      >a.book_link {
        position: relative;
        box-shadow: 0 26px 24px -16px rgba(0, 0, 0, .4);
        cursor: pointer;
        padding: 4px;
        background-color: #1c79c4;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        bottom: 0;
        transition: bottom .2s;
        &:hover {
          bottom: 8px;
          transition: bottom .2s;
        }

        >div.no_thumbnail {
          line-height: normal;
          width: 200px;
          height: 300px;
          display: flex;
          justify-content: center;
          align-content: center;
          font-size: 16px;
          background-color: #c8dcec;
          padding: 8px;
          >div {
            margin: auto;
            >p:nth-of-type(1) {
              text-align: center;
              color: #1c79c4;
              font-weight: 700;
              font-size: 18px;
            }
            >p:nth-of-type(2) {
              text-align: center;
              color: #86b5dc;
            }
          }
        }
        >img {
          max-width: 200px;
        }
        >p {
          margin: auto;
          width: fit-content;
          line-height: normal;
          color: #f5f5f5;
          font-size: 16px;
          padding: 4px;
        }
      }
    }
  }
}



.container >section.content_warning {
  min-height: 1200px;
  padding: 500px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}


.container >section.comics_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}



.container >section.edit_delete_buttons {
  background-color: #FFFFFF;
  border-left: 2px solid #d8dadc;
  border-right: 2px solid #d8dadc;
  display: flex;
  justify-content: flex-end;
  padding: 0 30px 4px 30px;
  >button {
    margin: 0 2px;
  }
}


.container >section.post {
  background-color: #FFFFFF;
  border-left: 2px solid #d8dadc;
  border-right: 2px solid #d8dadc;
  padding: 0 30px 0 30px;
  >div {
    $border: 2px solid #F3F3f3;
    border-top: #{$border};
    border-left: #{$border};
    border-right: #{$border};
    border-bottom: #{$border};
    >section.translator_review {
      width: 100%;
      padding: 2px 8px;
      background-color: #435e87;
      border-top: 2px solid #7a91b4;
      border-left: 2px solid #7489aa;
      border-right: 2px solid #7489aa;
      border-bottom: 2px solid #395073;
      >span {
        font-size: 14px;
        font-style: italic;
        color: #F5F5F5;
      }
    }

    >section.post {
      padding: 0 4px 4px 4px;
    }
  }
}


.container >section.comment {
  background-color: #FFFFFF;
  border-left: 2px solid #d8dadc;
  border-right: 2px solid #d8dadc;
  padding: 30px;
}




.single_page {
  line-height: 0;
  display: flex;
  justify-content: center;

  >img {
    max-width: 100%;
    object-fit: cover;
  }
}

.wide_page {
  $width_to_add: 170;

  width: calc(100% + #{$width_to_add*2}px);
  line-height: 0;
  position: relative;
  display: flex;
  justify-content: center;
  >img {
    max-width: 100%;
    object-fit: cover;
  }
}

.double_page {
  $width_to_add: 170;

  width: calc(100% + #{$width_to_add*2}px);
  line-height: 0;
  position: relative;
  display: flex;
  justify-content: center;
  >img {
    max-width: 50%;
    object-fit: cover;
  }
}