@import "pages/variables";



.container {
  display: block;
  padding: 8px 15px;

  border-top: 1px solid #eaeff5;

  &:last-of-type {
    border-bottom: 1px solid #eaeff5;
  }

  &:visited {
    >section.first_row >div.post_title {
      color: #9B9B9B;
    }
  }

  &.narrow {
    padding: 4px 15px;
  }

  &.clean_top_bottom_border {
    &:first-of-type {
      border-top: none;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }

  &.background_blend {
    background-color: #eaeff5;
  }
}



$icon_width: 26px;



.container >section.first_row {
  width: 100%;
  display: flex;
  align-items: center;

  >div.upvote_count_icon {
    display: flex;
    width: $icon_width;
    min-width: $icon_width;
    height: 16px;
    color: #dedede;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: 300;
    border-radius: 4px;
    border: 2px solid #EEEEEE;
    background-color: #f5f5f5;
    margin-right: 6px;

    &.lv1 {
      $background_color: #ddebf8;
      color: #ffffff;
      border: 2px solid $background_color;
      background-color: $background_color;
    }
    &.lv2 {
      $background_color: #d2e4f5;
      color: #ffffff;
      border: 2px solid $background_color;
      background-color: $background_color;
    }
    &.lv3 {
      $background_color: #80b4e3;
      color: #ffffff;
      border: 2px solid $background_color;
      background-color: $background_color;
    }
    &.lv4 {
      $background_color: #2285d4;
      color: #ffffff;
      border: 2px solid $background_color;
      background-color: $background_color;
    }
    &.lv5 {
      $background_color: #287bc1;
      color: #ffffff;
      border: 2px solid $background_color;
      background-color: $background_color;
    }
    &.lv6 {
      $background_color: #1f629a;
      color: #ffffff;
      border: 2px solid $background_color;
      background-color: $background_color;
    }
  }


  >div.post_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
  }
}



.post_type_icon {
  width: $icon_width;
  min-width: $icon_width;
  height: 16px;
  margin-right: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  border-radius: 4px;

  &.notice {
    color: #ff4b4b;
    border: 1px solid #ff4b4b;
    background-color: #ffeded;
  }
  &.hot {
    color: #66bb6a;
    border: 1px solid #66bb6a;
    background-color: #e8f5e9;
  }
}


.image_icon {
  $size: 15px;
  width: $size;
  min-width: $size;
  height: $size;
  background-image: $icon_image_lightgray;
  background-size: cover;
  margin: auto 0 auto 6px;
}
.comment_count {
  margin: auto 0 auto 6px;
  color: #ff4b4b;
  font-size: 12px;
}



.container >section.second_row {
  display: flex;
  align-items: center;
  margin-top: 2px;

  >div.divider {
    display: inline;
    height: 12px;
    border-right: 1px solid #dbe1ea;
  }

  >div.nickname {
    font-size: 12px;
    //color: #5c78a3;
    color: #758db1;
  }

  >div.post_views, >div.post_time {
    font-size: 12px;
    font-weight: 300;
    color: #bfcde2;
    padding: 0 6px;
  }
  >div.post_views {
    margin: auto 0 auto auto;
  }
  >div.post_time {
    text-align: center;
    margin: auto 0 auto 0;
  }
}