@import "pages/variables";


.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  >div.upvote {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >div.icon_box {
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 24px;
      border-radius: 1em;
      transition: all .2s;
      &:not(.blank) {
        cursor: pointer;
        &:hover {
          box-shadow: 0 0 0 2px inset #FFDE00;
          >label.count {
            cursor: pointer;
          }
          >div.icon {
            cursor: pointer;
            transform: scale(1.3);
          }
        }
      }


      >label.count {
        user-select: none;
        color: #ff4b4b;
        font-size: 16px;
      }
      >div.icon {
        width: 38px;
        height: 38px;
        background-image: $icon_star_yellow;
        background-size: cover;
        transform: scale(1);
        transition: transform .2s;
      }
      >div.icon.blank {
        filter: saturate(0);
      }
      >div.icon.bling {

      }
    }

    >div.phrase {
      margin-top: 2px;
      max-width: 240px;
      font-size: 14px;
      font-family: "Noto Serif KR", serif;
      text-align: center;

      // INPUT EL
      >textarea {
        white-space: normal;
        overflow-wrap: normal;
        width: 240px;
        overflow-y: hidden;
        font-size: 14px;
        font-family: "Noto Serif KR", serif;
        text-align: center;
        border: none;
        padding: 0;
        appearance: none;
        resize: none;
        &:hover {
          box-shadow: 0 0 0 2px #FFDE00 inset;
        }
      }
    }
  }
}