@import "pages/variables";


.container {
  width: fit-content;
  height: 30px;
  display: inline-flex;
  align-items: center;
  font-size: 11px;
  font-weight: 300;

  >p {
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  >i {
    height: 10px;
    border-right: 1px solid #d7d7d7;
  }
}


.container >p.nickname {
  width: 120px;
  color: #9A9A9A;

  label {
    cursor: pointer;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover {
      color: #262626;
    }
  }
}

.container >div.comment {
  cursor: default;
  color: #ff4b4b;
  width: 70px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  >div.icon {
    width: 12px;
    height: 12px;
    background-image: $icon_comment;
    background-size: cover;
    margin-right: 4px;
  }
}

.container >p.views {
  cursor: default;
  color: #aeaeae;
  user-select: none;
}

.container >p.time {
  cursor: default;
  color: #aeaeae;
  user-select: none;
}