@import "../../../../../pages/variables";


.container {
  user-select: none;

  >section.buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;

    &:nth-child(1) {
      >button {
        margin: 0 2px;
      }
    }
  }
}