@import "../../../../../pages/variables";


.container {
  user-select: none;

  >a {
    color: #dcdcdc;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    &:active {
      color: #d0d0d0;
    }
  }
}