@import "pages/variables";


.container {
  position: absolute;
  top: 2px;
  right: 0;
  display: flex;
  align-items: center;
  >button.clear {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    >div.icon {
      width: 12px;
      height: 12px;
      background-image: $icon_new_file_red;
      background-size: cover;
      filter: saturate(0) brightness(1.8);
    }
    >label {
      cursor: pointer;
      font-family: "Noto Sans KR", sans-serif;
      color: #c1c1c1;
      font-size: 11px;
      font-weight: 300;
    }
    &:hover {
      >div.icon { filter: saturate(0) brightness(0) }
      >label { color: #262626 }
    }
    &:active {
      background-color: #262626;
      >div.icon { filter: saturate(0) brightness(3) }
      >label { color: #f5f5f5 }
    }
  }
  >p.temp-post-update-time {
    margin-left: 4px;
    cursor: default;
    font-family: "Noto Sans KR", sans-serif;
    color: #c1c1c1;
    font-size: 11px;
    font-weight: 300;
    &:hover {
      color: #262626
    }
  }
  >p.post_last_edit_time {
    margin-left: 4px;
    cursor: default;
    font-family: "Noto Sans KR", sans-serif;
    color: #c1c1c1;
    font-size: 11px;
    font-weight: 300;
  }
}