.container {
  position: absolute;
  top: 80px;
  pointer-events: none;
  padding-left: 8px;
  >p {
    font-size: 14px;
    color: #9A9A9A;
  }
}


.container.show {
  display: block;
}

.container.hide {
  display: none;
}
