.menu-bar {
  position: absolute;
  background-color: red;
  display: none;
}
.menu-bar.active {
  display: block;

  @keyframes open-out {
    from { margin-top: -10px; }
    to { margin-top: 0; }
  }
  animation: open-out .15s cubic-bezier(0,1,.8,1.5) forwards;
}