@import "../../../pages/variables";


.container {

}


.container >section.top {
  display: flex;
  align-items: flex-end;
  padding: 5px;
  user-select: none;
  width: 100%;

  button {
    font-family: "Noto Sans KR", sans-serif;
    outline: transparent;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  >section {
    position: relative;
    margin: 0 2px;
    &:hover {
      >button.keyboard-shortcut {
        display: block;
        height: 20px;
      }
    }
  }

  >section >button.keyboard-shortcut {
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    display: none;
    width: 70px;
    height: 20px;
    left: calc(50% - 35px);
    bottom: 22px;
    border-radius: 2px;
    padding: 0 5px;

    kbd {
      background-color: #eee;
      border-radius: 3px;
      border: 1px solid #b4b4b4;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
      color: #333;
      display: inline-block;
      font-size: 10px;
      font-weight: 300;
      line-height: 10px;
      padding: 2px 4px;
      white-space: nowrap;
      transform: scale(.9);
    }
    >p.keys {

    }
    &:hover {
      kbd {
        background-color: #DCDCDC;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      }
    }
    &:active {
      kbd {
        background-color: #333;
        border: 1px solid #b4b4b4;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        color: #eee;
      }
    }
  }

  >section >div.values {
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }


  @mixin value_type__button_click_to_select {
    >button {
      display: inline-block;
      color: #EEEEEE;
      cursor: pointer;
      text-align: center;
      padding: 0 2px;
      &:hover {
        color: #9A9A9A;
      }
    }
  }


  // FONT SIZE
  >section.font-size {
    >div.values {
      @include value_type__button_click_to_select;
      >button.normal {
        font-size: 12px;
      }
      >button.big1 {
        font-size: 12px;
      }
      >button.big2 {
        font-size: 12px;
      }
      >button.big3 {
        font-size: 12px;
      }
      >button.enabled {
        color: #262626;
      }
    }
  }


  // COLOR
  >section.color {
    >div.values {
      @include value_type__button_click_to_select;
      >button {
        //line-height: 12px;
        font-size: 12px;
        font-weight: 700;
        //padding: 0 2px 2px 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: .12;
        >div.color-block {
          //margin-top: 2px;
          //width: 100%;
          //height: 2px;
          margin-right: 1px;
          width: 4px;
          height: 4px;
          color: #EEEEEE;
          border-radius: 100%;
        }
        &:hover {
          opacity: .5;
        }
      }
      >button.black {
        $color: #262626;
        color: $color;
        >div.color-block {
          background-color: $color;
        }
      }
      >button.red {
        $color: red;
        color: $color;
        >div.color-block {
          background-color: $color;
        }
      }
      >button.blue {
        $color: blue;
        color: $color;
        >div.color-block {
          background-color: $color;
        }
      }
      >button.enabled {
        opacity: 1;
      }
    }
  }


  // FONT WEIGHT
  >section.font-weight {
    margin-right: 0;
    >div.values {
      @include value_type__button_click_to_select;
      >button {
        font-weight: bold;
        font-size: 12px;
      }
      >button.enabled {
        color: #5c5c5c;
      }
    }
  }


  // FONT STYLE
  >section.font-style {
    margin-left: 0;
    >div.values {
      @include value_type__button_click_to_select;

      >button {
        font-style: italic;
        font-size: 12px;
      }
      >button.enabled {
        color: #5c5c5c;
      }
    }
  }


  // IMAGE FILE BUTTON
  >section.image-file {
    margin: 0 6px 0 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    >input[type="file"] {
      display: none;
    }
    >div.icon {
      display: inline-block;
      width: 13px;
      height: 13px;
      background-image: $icon_image_blue;
      background-size: cover;
      filter: saturate(0) brightness(1.3);
    }
    >label {
      cursor: pointer;
      color: #9A9A9A;
      margin-left: 2px;
      font-size: 11px;
    }
    &:hover {
      >div.icon {
        filter: saturate(1.2);
      }
      >label {
        color: #262626;
      }
    }
    &:active {
      >div.icon {
        filter: brightness(.1);
      }
    }
  }


  // YOUTUBE LINK BUTTON
  >section.youtube-link {
    margin: 0 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #9A9A9A;
    cursor: pointer;
    >label {
      cursor: pointer;
      font-size: 11px;
    }
    >label.icon {
      font-size: 12px;
    }
    &:hover {
      >label {
        color: #262626;
      }
      >label.icon {
        color: red;
      }
    }
    &:active {
      >label {
        color: #262626;
      }
      >label.icon {
        color: #262626;
      }
    }
  }


  // HYPERLINK BUTTON
  >section.hyperlink {
    margin: 0 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    >div.icon {
      margin-right: 1px;
      display: inline-block;
      width: 17px;
      height: 17px;
      background-image: $icon_link;
      background-size: cover;
      filter: saturate(0) brightness(.7);
    }
    >label {
      font-size: 11px;
      color: #9A9A9A;
      cursor: pointer;
    }
    &:hover {
      >label {
        color: #262626;
      }
      >div.icon {
        filter: saturate(0) brightness(.3);
      }
    }
  }
}























