.container {
  display: none;
  position: absolute;

  kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;
    padding: 2px 4px;
    white-space: nowrap;
    transform: scale(.9);
  }
  kbd.space {
    padding: 2px 30px;
  }
}
.container.visible {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container >div.keys {
  cursor: pointer;
  user-select: none;

  &:hover {
    kbd {
      background-color: #DCDCDC;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  &:active {
    kbd {
      background-color: #333;
      border: 1px solid #b4b4b4;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      color: #eee;
    }
  }
}